<launch>
    <arg name="scan_topic" default="scan" /> //laser的topic名称，与自己的激光的topic相对应

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" clear_params="true">
        <param name="odom_frame" value="odom"/> //世界坐标
        <param name="map_update_interval" value="5.0"/> //地图更新间隔
        <!-- Set maxUrange < actual maximum range of the Laser -->
        <param name="maxRange" value="5.0"/>
        <param name="maxUrange" value="4.5"/>
        <param name="sigma" value="0.05"/>
        <param name="kernelSize" value="1"/>
        <param name="lstep" value="0.05"/>  //optimize机器人移动的初始值（距离）
        <param name="astep" value="0.05"/> //optimize机器人移动的初始值（角度）
        <param name="iterations" value="5"/> //icp的迭代次数
        <param name="lsigma" value="0.075"/>
        <param name="ogain" value="3.0"/>
        <param name="lskip" value="0"/> //0表示所有的激光都处理，尽可能为0，如果计算压力过大，可以改为1
        <param name="srr" value="0.01"/>
        <param name="srt" value="0.02"/>
        <param name="str" value="0.01"/>
        <param name="stt" value="0.02"/>
        <param name="linearUpdate" value="0.5"/> //机器人移动linearUpdate距离，进行scanmatch
        <param name="angularUpdate" value="0.436"/> //机器人旋转angularUpdate角度，进行scanmatch
        <param name="temporalUpdate" value="-1.0"/>
        <param name="resampleThreshold" value="0.5"/>
        <param name="particles" value="80"/>//粒子个数
        <param name="xmin" value="-1.0"/> //map初始化的大小
        <param name="ymin" value="-1.0"/>
        <param name="xmax" value="1.0"/>
        <param name="ymax" value="1.0"/>
        <param name="delta" value="0.05"/>
        <param name="llsamplerange" value="0.01"/>
        <param name="llsamplestep" value="0.01"/>
        <param name="lasamplerange" value="0.005"/>
        <param name="lasamplestep" value="0.005"/>
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>
</launch>
